@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    /* Colors */

    /* Primary */

    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);

    /* Neutral */
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: var(--dark-blue);
    color: var(--light-cyan);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main {
    width: 340px;
    background-color: var(--dark-grayish-blue);
    padding: 32px 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

button {
    background-color: var(--neon-green);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -30px;
    border: none;
}

button:hover{
    cursor: pointer;
    background-color: var(--neon-green);
    box-shadow: 0px 0px 32px var(--neon-green);
}

.advice-title {
    font-size: 10px;
    color: var(--neon-green);
    text-align: center;
    margin-bottom: 32px;
    font-weight: 200;
    letter-spacing: 0.25rem;
}

.advice-message {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}

.divider {
    margin: 32px 0;
    background-image: url('../images/pattern-divider-mobile.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 26px;
    width: 100%;
}

.loading {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--dark-blue);
    color: var(--neon-green);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    animation: is-rotating 0.5s infinite;
    height: 60px;
    width: 60px;
    border: 6px solid var(--light-cyan);
    border-top-color: var(--neon-green);
    border-radius: 50%;
}

@keyframes is-rotating{
    to{
        transform: rotate(1turn);
    }
}

@media screen and (min-width: 1440px) {
    main{
        width: 504px;
        padding: 32px;
    }

    .divider{
        background-image: url('../images/pattern-divider-desktop.svg');
    }
}